<h2>Paises</h2>

<hr>

<ul class="list-group">
    <!-- <li class="list-group-item" [routerLink]="['']"
    [routerLinkActiveOptions]="{exact:true}"
     routerLinkActive="active" >
      home
    </li>
    <li class="list-group-item" [routerLink]="['/about']"
    routerLinkActive="active" >    
    about</li>

    <li class="list-group-item" [routerLink]="['/contact']"
    routerLinkActive="active" >    
    Contact</li> -->

    <li class="list-group-item" [routerLink]="['/countries/by-capital']"
    routerLinkActive="active" >    
    Por Capital</li>

    <li class="list-group-item" [routerLink]="['/countries/by-country']"
    routerLinkActive="active" >    
    Por país</li>

    <li class="list-group-item" [routerLink]="['/countries/by-region']"
    routerLinkActive="active" >    
    Por region</li>
</ul>
